<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hmju.presentation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".mvvm_lifecycle.MvvmLifecycleTest3Activity"
            android:exported="false" />
        <activity
            android:name=".mvvm_lifecycle.MvvmLifecycleTestActivity"
            android:theme="@style/AppTheme"
            android:exported="false" />
        <activity
            android:name=".mvvm_lifecycle.MvvmLifecycleTest2Activity"
            android:exported="false" />

        <activity
            android:name=".refactor_base.RefactorBaseTestActivity"
            android:exported="false" />
    </application>

</manifest>