<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.features.base_mvvm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name="com.features.base_mvvm.RefactorBaseTestActivity"
            android:exported="false" />
        <activity
            android:name="com.features.base_mvvm.ui.mvvm_lifecycle.MvvmLifecycleTest3Activity"
            android:exported="false" />
        <activity
            android:name="com.features.base_mvvm.ui.mvvm_lifecycle.MvvmLifecycleTestActivity"
            android:exported="false" />
        <activity
            android:name="com.features.base_mvvm.ui.mvvm_lifecycle.MvvmLifecycleTest2Activity"
            android:exported="false" />
    </application>

</manifest>